@model Entity02.Models.Worker
    @using Entity02.Models

@{
    ViewBag.Title = "Create";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Новый сотрудник</title>
</head>
<body>
    <h2>Новый сотрудник</h2>
    <div> 
        @using (Html.BeginForm())
        {
            @Html.LabelFor(m => m.Name, "Имя")<br />
            @Html.EditorFor(m => m.Name)<br />
            @Html.LabelFor(m => m.Surname, "Фамилия")<br />
            @Html.EditorFor(m => m.Surname)<br />
            @Html.LabelFor(m => m.Age, "Возраст")<br />
            @Html.EditorFor(m => m.Age)<br />
            @Html.LabelFor(m => m.CompanyId, "Компания")<br />
            @Html.DropDownListFor(m => m.CompanyId, (SelectList)ViewBag.Companyes)<br /><br />
            <span>Хобби:</span><br />
            foreach (var item in (List<Hobby>)ViewBag.Hobbyes)
            {
                <input type="checkbox" name="selectedHobbyes" value="@item.Id" />@item.HobbyName<br />
            }
            <input type="submit" value="Создать" />
        }
    </div>
</body>
</html>
